@use '../../../styles/media' as media;
@use '../../../styles/variables' as vars;
@use '../../../styles/utils' as utils;

.name {
  font-size: utils.to-rem(16px);
  font-weight: vars.$fontWeightBold;
}

.comment {
  font-size: utils.to-rem(14px);
  font-weight: vars.$fontWeightMedium;
}

.buttons {
  align-items: center;
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.button {
  @include utils.set-transition(color);

  color: rgba(vars.$color-black, 0.7);
  font-weight: vars.$fontWeightMedium;

  @include media.no-touch-hover {
    color: vars.$color-black;
  }
}