@use '../../../styles/media' as media;
@use '../../../styles/variables' as vars;

.root {
    box-sizing: content-box;
    margin-inline: auto;
    padding-inline: vars.$container-padding-horizontal;
    max-width: vars.$container-max-width;

    &.hasNotMobilePaddings {
        @include media.vw-small-down {
            padding-inline: 0;
        }
    }
}
