@use '../../../styles/media' as media;
@use '../../../styles/variables' as vars;
@use '../../../styles/utils' as utils;

.root {
  position: relative;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}

.item {
  @include utils.set-transition(opacity);
  @include utils.full-size-image-container(1, 1);

  @include media.no-touch-hover {
    opacity: 0.7;
  }
}

.button,
.picture {
  @include utils.full-size();
}

.image {
  @include utils.full-size-image();
}

.spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.photoDetails {
  @include utils.set-size(100%);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.isScrollBlocked {
  overflow: hidden;
}